
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
}

.container{
    width: 100%;
    height: 7vh;
    background-color: rgb(27,42,65);
    display: flex;
    justify-content: center;   
    align-items: center;       
}

.nav{
    display: flex;
    gap: 30px;                 
}

.anchor{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .img{
    height: 100vh;
    width: 100%;
}

.image{
    width: 100%;
    height: 100%;
} */

.img{
    height: 100vh;
    width: 100%;
    position: relative; 
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
}

.heading1{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.heading2{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.ser{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 3rem;
    margin-top: 3vh;
}

.lorem{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1vh;
}

.cards{
    display: grid;
    /* border: 2px solid red; */
    height: 80vh;
    margin-top: 3%;
    margin-left :20% ;
    margin-right: 20%;
    grid-template-columns: repeat(3,1fr);
}

.box{
    /* border: 1px dotted green; */
    height: 100%;
    width: 100%;
}

.cardimg{
    margin-left: 35%;
}

.cardhead{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    text-align: center;
}

.carddetail{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 80px;
}

.section-subtitle{
    text-align: center;
    color: gray;
    margin-bottom: 40px;
}

.sectiontitle{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 3rem;
    margin-top: 3vh;
}

.sectionsubtitle{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1vh;

}
.portfoliocontainer{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.portfoliomenu{
    margin-top: 3%;
}

.portfoliomenu p{
    margin: 15px 0;
    font-size: 1rem;
    cursor: pointer;
    
}

.portfoliogrid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 3%;
}

.portfoliogrid img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}

.blogcontainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blogcard{
    margin-top: 2%;
    width: 100%;
    height: 45vh;
    /* border: 2px solid black; */
}

.blogcard img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.blogcard h4{
    margin-top: 10px;
    color: gray;
}

.blogcard h3{
    margin: 5px 0;
}
.blogcard a{
    text-decoration: none;
}
.sectiontitle2{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1rem;
    margin-top: 3vh;
}

.sectionsubtitle2{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1vh;
}

.aboutsection{
    display: flex;
    width: 100%;
    height: 23vh;
    background-color: #dbdbdd;
    margin-top: 5rem;
}

.footer{
     display: flex;
     padding: 9vh;
     padding-left: 45vh;
     gap: 5rem;
}

.about{
    display: flex;
    gap: 3rem;
}



.email{
    display: flex;
    gap: 3rem;
}

.mobile{
    height: 10vh;
    width:10vh;
}




